@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap');
/*font-family: 'IBM Plex Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');
/* font-family: 'Orbitron', sans-serif; */
/* colors */
/* #F3EEE8; */
/* #E97DB1 */
/* #de6ce0 */
/* #02b7dd */


body {
  margin: 0;
  height: 100vh;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #0A0A0A;
  --color-text: #02b7dd;
  --color-number: #F3EEE8;
  --color-bg: #0A0A0A;
  --color-link: #1352d1;
  --color-link-hover: #F3EEE8;
  color: var(--color-text);
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#c {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

.main_container h2 {
  letter-spacing: 3px;
  font-weight: 400;
  font-style: italic;
}

p {
  color: #F3EEE8;
  line-height: 1.5;
  padding-right: 60px;
  text-align: justify;
}

.header {
 display:flex;
 justify-content: space-around;
}

.main_container {
  position: absolute;
  height: 100vh;
  margin: 20px;
  padding: 20px 40px;
}

.title_container {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 32px 32px;
  /*display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;*/
  overflow: hidden;
}

.grid-container a {
  color: #F3EEE8;
}

/*.content h2 {
  font-family: 'IBM Plex Sans', sans-serif;
}*/

.content a {
  line-height: 1.5;
  text-decoration: none;
}

.container_names {
  display: flex;
  justify-content: space-between;

}

#content_artist {
  width: 100%;
}

.artist_name {
  width: 50%;
}

#right {
  text-align: end;
}

.title_exhibition h1{
  color: #de6ce0;
  margin-top: 50px;
  margin-bottom: 30px;
  letter-spacing: 3px;
  font-weight: 400;
}

.container_exhibition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.video_section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
}

@media screen and (max-width: 800px) {

  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .info {
    grid-column: 1 / span 4;
  }

  .artist {
    grid-column: 1 / span 4;
  }

  .content p {
  padding-right: 0;
  }
}

/*// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }*/
